window {
  background-color: #3B3B3B;
  color: whtie;
}

#sidebar {
  padding: 16px;
  border-right: 1px solid rgb(89, 89, 89);
  background-color: #404040;
  color: white;
}

#center-view {
  background-color: #3B3B3B;
  color: white;
}

#rightbar {
  border-left: 1px solid rgb(89, 89, 89);
  background-color: #404040;
  color: white;
}

#icon-btn {
  background: transparent;
  box-shadow: none;
  border: none;
}

#icon-btn:hover {
  background-color: rgb(104, 104, 104);
}

#category-btn {
  background: transparent;
  color: white;
  border: none;
  box-shadow: none;
  cursor: pointer;

}

#category-btn:hover {
  background-color: rgb(104, 104, 104);
  cursor: pointer;
}

#label {
  color: rgb(185, 185, 185);
}

#btn-number-label {
  margin-left: auto;
}

.lock-icon {
  opacity: 0.5;
}